<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwm.mybatis.mapper.LockMapper">
	<resultMap id="lockMap" type="LockBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="lock" column="lock_name" javaType="java.lang.String"></result>
	</resultMap>
	<resultMap id="lockAndKeysMap" type="LockBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="lock" column="lock_name" javaType="java.lang.String"></result>
		<collection property="keys" column="id" select="com.lwm.mybatis.mapper.KeyMapper.findKeysByLockId"></collection>
	</resultMap>
	<insert id="saveLock">
		insert into t_lock values(null,#{lock.lock})
	</insert>	
	<select id="findLockById" resultMap="lockMap">
		select * from t_lock where id=#{id}
	</select>
	<select id="findLockAndKeys" resultMap="lockAndKeysMap">
		select * from t_lock where id=#{id}
	</select>
</mapper>