<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwm.mybatis.mapper.StudentMapper">
	<resultMap id="studentMap" type="StudentBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="name" column="student_name" javaType="java.lang.String"></result>
	</resultMap>
	<resultMap id="studentAndCoursesMap" type="StudentBean">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="name" column="student_name" javaType="java.lang.String"></result>
	    <!-- 对于一个属性的类型是一个集合，就使用collection
                        对于一个属性的类型是一个类，就使用association   -->
		<collection property="courses" column="id" select="findCoursesByStudent"></collection>
	</resultMap>
	<select id="findStudnetById" resultMap="studentMap">
		select * from t_student where id=#{id}
	</select>
	 <!-- 有学生表，课程表这两张表都没有外键，我们就要使用第三张关联表。我们就要根据课程表的fk_cou_id，把学生的id值得到。
               对于多对多那么这个学生的id值就不可能是一个值 。在数据库里就要使用in-->
	 <select id="findCoursesByStudent" resultMap="com.lwm.mybatis.mapper.CourseMapper.courseMap">
	    select * from t_courses where id in (select fk_cou_id from t_stu_cou where fk_stu_id=#{id})
	 </select>
	<select id="findStudentAndCourses" resultMap="studentAndCoursesMap">
		select * from t_student where id=#{id}
	</select>
</mapper>