#忽略jar、war文件
*.jar
*.war
*.class

#忽略目录
spring-mvc-study/build
spring-mvc-study/.settings
spring-mvc-study/WebContent/js

MyBatis01/build
MyBatis01/.settings

SpringDemo-master/build
SpringDemo-master/.settings

spring-mvc-demo/.settings
spring-mvc-demo/target

.metadata
test
RemoteSystemsTempFiles